body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: 35px;
}
h4{
    font-size: 28px;
}
.orange-color{
    color: #FFA500;
}
img{
    width: 100%;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}
.text-item{
    width: 50%;
}
.text-item p{
    text-align: justify;
}
.picture{
    width: 50%;
}
.formating{
    padding-left: 5%;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
#hire-btn{
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    width: max-content;
    border-radius: 7px;
}
#hire-btn a{
    text-decoration: none;
    color: white;
}
.width-set{
    width: 50%;
}
.width-set img{
    width: 50%;
}
.scond-section{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-left: 5%;
}
.scond-section img{
    padding-left: 0;
}
.width-set a{
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 20px;
    border-radius: 7px;
}
#dream-text{
    color: orange;
}
.third-section{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.box-shadow{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 10px 10px 40px gray;
}
#first-box{
    border-left: 7px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
}
#scond-box{
    border-left: 7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    letter-spacing: 5px;
}