body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
}
#puchka{
    color: #FFA500;
}
img{
    width: 100%;
}
section{
    display: flex;
}
.text-item{
    width: 50%;
}
.picture{
    width: 50%;
}